[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
praw = "*"
discord-py = "*"
discord-webhook = "*"

[requires]
python_version = "3.7"
